@model double?
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    var fieldName = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
    var fieldId = TagBuilder.CreateSanitizedId(fieldName, "_");
    var range = ViewData.ModelMetadata.ValidatorMetadata.OfType<RangeAttribute>().FirstOrDefault();
    var minValue = range?.Minimum ?? 0.0;
    var maxValue = range?.Maximum ?? 100.0;
    var min = Convert.ToDouble(minValue, CultureInfo.InvariantCulture);
    var max = Convert.ToDouble(maxValue, CultureInfo.InvariantCulture);
    var minText = min.ToString("0.##", CultureInfo.InvariantCulture);
    var maxText = max.ToString("0.##", CultureInfo.InvariantCulture);
    var value = Model ?? 0.0;
    var formatted = value.ToString("0.##", CultureInfo.InvariantCulture);
}

<!-- Naloga: Double slider (navodilo: "Tipu Double ... se pri urejanju izrise slider"). -->
<div class="slider-field">
    <input type="text"
           id="@fieldId"
           name="@fieldName"
           value="@formatted"
           class="form-control js-slider-input"
           data-min="@minText"
           data-max="@maxText"
           data-step="0.1" />
    <div class="js-slider" data-target="#@fieldId"></div>
</div>
